<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <th>Month</th>
      <th>Day of week</th>
      <th>Day of month</th>
      <th>Hour</th>
      <th>Command</th>
      <th>Folder</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.frequency %></td>
        <td><%= task.month %></td>
        <td><%= task.day_of_week %></td>
        <td><%= task.day_of_month %></td>
        <td><%= task.hour %></td>
        <td><%= task.command %></td>
        <td><%= task.folder%></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Run', run_task_path(task) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
